 body {
    background-color:#ECF2FF;
    text-indent: 10px;
 }
 h2 {
   position: absolute;
   top: 0px;
   left: 20px;
 }
h1 {
   padding-top: 20px;
   text-align: left;
}
.div1 {
   position: relative;
   left: 200px;
}
.hr1 {
   position: relative;
   top: 20px;
}
 img {
    border-radius: 100%;
 }

 img:hover {
    background-color: goldenrod;
 }
 .Heart {
    background-color: blueviolet;
 }